* {
	margin:0;
	padding:0;
}	
body{
	margin: 0;
	font-family: sans-serif;
}

header{
	width: 100%;
	background: #fff;

}
#btn-menu{
	display: none;
}
header label{
	display: none;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #fff;
}
header label:hover{
	cursor: pointer;
	background: rgba(0,0,0,0.3);

}

.horizontal-2{
	display: flex;
	justify-content: center;
}
.vertical-2{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.menu ul{
	margin: 0;
	list-style: none;
	padding: 0;
	display: flex;
	
}

.menu li{
	border-right: rgba(0,0,0,0.3);
}
.menu li:hover{
	background: rgba(0,0,0,0.3);
}

.menu li a{
    font-size: 13px;
	display: block;
	padding: 15px 20px;
	color: gray;
	text-decoration: none;
}
@media (max-width: 768px){

	header label{
		display: block;
	}

	.menu{
		position: absolute;
		background:#fff;
		width: 70%;
		margin-left: -70%;
		transition: all 1s;
	}

	.menu ul{
		flex-direction: column;

	}
	.menu li{
		border-top: 1px solid #fff
	}
	#btn-menu:checked ~ .menu{
		margin: 0;
	}
	header div{
	height: 30px;
	float: right;
	padding: 5px 10px;
}